@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&family=Taprom&display=swap');

:root {
    --main-color:#799785;
    --header-color:#516659;
    --secondary-color:#C55A40;
    --background-color:#FAF5E2;
}

* {
    font-size: 3vh;
    font-family: "Tai Heritage Pro", system-ui;
}
h1 {
    font-size: 8vh;
    font-family: "Taprom", "system-ui";
}
h2 {
    font-size: 5vh;
    font-family: "Taprom", "system-ui";
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
}
main {
    display: flex;
}
.navbar {
    display: none;
}
.logom>img {
    width:auto;
    height:13vh;
}
.mobile-navbar {
    background-color: var(--main-color);
    height:15vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2vh;
}
#hamburger-mobile>img {
    height:8vh;
    width:auto;
    margin-left:2vw;
    cursor: pointer;
}
.h1nav {
    font-size:4vh;
    align-items:center;
}
#main-vacatures {
    display: flex;
    align-items:center;
    flex-direction: column;
}
#main-vacatures > img {
    width: 90vw;
    margin-top: 3vh;
}
#main-vacatures > form {
    display: flex;
    flex-direction: column;
    align-items:center;
}
#main-vacatures > form > textarea {
    border-color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    width: 70vw;
    height: 10vh;
    border-radius: 15px;
    resize: none;
    padding: 1vh;
}
#main-vacatures > form > input {
    margin: 2vh;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    border-radius: 15px;
    height: 6vh;
    width: 30vw;
}
#main-vacatures > form > p {
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
}
#tablet-header {
    display: none;
}
/* css voor de hamburger die kevin over moet kopiëren */
#mobile-popout {
    display: none;
    height: 85vh;
    flex-direction: column;
    align-items: center;
}
/* dit ook */   
.nav-btn, .desk-nav-btn {
    font-family: "Taprom", system-ui;
    background-color:var(--header-color);
    margin:0px;
    padding:20px 30px;
    font-size:1.7vw;
    border-radius:15px;
    text-decoration:none;
    color:white;
    font-weight:500;
    cursor:pointer;
    font-size: 3vh;
    margin: 3vh;
}
#tablet-popout {
    display: none;
}
#header-tablet {
    display: flex;
    flex-direction: row;
}
#hamburger-foto {
    height: 8vh;
}
#reserveren-inhoud {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reserveren-inhoud > h1 {
    margin: 2vh;
    justify-self: center;
    align-self: center;
}
#reserveer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reserveer-form > input {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 1vh;
    padding: 1vh;
}
.reserveren-img {
    display: none;
}
#reserveren-main {
    display: flex;
    flex-direction: column;
}
#reserveer-form > input {
    margin: 1vh;
}
#tijden-loca-main {
    display: grid;
    grid-template-rows: auto auto auto;
}
#tijden-loca-main > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tijden-loca-main > article > img {
    width: 80vw;
    margin: 3vh;
    border-radius: 5vh;
}
#tijden , #tijden-vakantie {
    background-color: var(--secondary-color);
}
footer {
    background-color: var(--header-color);
    color: var(--background-color);
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
footer > p {
    margin: 0px;
    padding: 2vh;
}
#footer-tablet-desktop {
    display: none;
}

/* tablet portrait */
@media (min-width: 450.1px) and (max-width: 991.9px){
.mobile-navbar {
    display: none;
}
.grote-tekst {
    display: none;
}

#main-vacatures > form > input {
    width: 17vw;
}
#tablet-header {
    display: flex;
}
#tablet-nav{
    background-color:var(--main-color);
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding: 1vh;
    width: 100vw;
}
.logo {
    height: 12vh;
}
.nav-btn{
    font-family: "Taprom", system-ui;
    background-color:var(--header-color);
    margin:0px;
    padding:20px 30px;
    font-size:1.7vw;
    border-radius:15px;
    text-decoration:none;
    color:white;
    font-weight:500;
    cursor:pointer;
    font-size: 3vh;
    margin: 1vh;
}
#hamburger-foto-tablet {
    width: 14vw;
}
#tablet-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#tablet-popout {
    background-color: var(--main-color);
    width: 100vw;
    justify-content: space-around;
}
footer {
    display: none;
}
#footer-tablet-desktop {
    display: block;
}

}

/* landscape tablet + desktop */
@media (min-width: 992px){
.mobile-navbar {
    display: none;
}

.navbar{
    background-color:var(--main-color);
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding: 2vh;
}

article > img {
    height:8vw;
}

.nav-btn{
    font-family: "Taprom", system-ui;
    background-color:var(--header-color);
    margin:0px;
    padding:20px 30px;
    font-size:1.7vw;
    border-radius:15px;
    text-decoration:none;
    color:white;
    font-weight:500;
    cursor:pointer;
}

#main-vacatures > img {
    width: 45vw;
}
#main-vacatures > form > textarea {
    height: 16vh;
    width: 50vw;
}
#main-vacatures > form > input {
    width: 10vw;
    height: 8vh;
}
.reserveren-img {
    display: block;
}
#reserveren-main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.reserveren-img {
    width: 100%;
    height: 80.93vh;
    object-fit: cover;
}
#tijden-loca-main {
    grid-template-columns: 1fr 1fr 1fr;
}
#tijden-loca-main > article > img{
    width: 90%;
    height: auto;
}
footer {
    display: none;
}
#footer-tablet-desktop {
    display: block;
}

}