@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&family=Taprom&display=swap');

:root {
    --main-color:#799785;
    --header-color:#516659;
    --secondary-color:#C55A40;
    --background-color:#FAF5E2;
    --text-color: black;
    --font-weight: normal;
}
h1{
    font-family: "Taprom", system-ui;
}
p{
    font-family: "Tai Heritage Pro", serif;
}
footer {
    background-color: var(--header-color);
    color: var(--background-color);
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
footer > p {
    margin: 0px;
    padding: 2vh;
}
.navbar {
    display: none;
}
.boven-1 > img, .boven-2, .boven-3 > img, .boven-4, .boven-5 > img, .midden-1, .midden-2 > img, .midden-3, .midden-4, .midden-5 > img, .midden-6, .onder-1, .onder-2 > img, .onder-3, .onder-4 > img, .onder-5, .onder-6 > img {
    display: none;
}
.nav-btn, .desk-nav-btn {
    font-family: "Taprom", system-ui;
    background-color:var(--header-color);
    margin:0px;
    padding:20px 30px;
    font-size:1.7vw;
    border-radius:15px;
    text-decoration:none;
    color:white;
    font-weight:500;
    cursor:pointer;
    font-size: 3vh;
    margin: 3vh;
}
/* mobile */


body {
    margin:0;
    padding:0;
    background-color: var(--background-color);
}

.logom>img {
    width:auto;
    height:13vh;
}
.mobile-navbar {
    background-color: var(--main-color);
    height:15vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2vh;
}
.hamburger>img {
    height:8vh;
    width:auto;
    margin-left:2vw;
    cursor: pointer;
}
.h1nav {
    font-size:4vh;
    align-items:center;
}
.m_home_container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "boven" "midden" "onder";
    margin:0;
}
.boven {
    background-color: var(--background-color);
    justify-content:center;
}
.midden {
    background-color: var(--secondary-color);
    justify-content:center;
}
.onder {
    background-color: var(--background-color);
    justify-content:center;
}
.fotom-boven {
    display:flex;
    justify-content:center;
}
.fotom-boven > img{
    width: 80vw;
    margin-top:6vw;
    margin-bottom:3vw;
    border-radius:5vw;
}
.h1m-boven {
    font-size:8vw;
    text-align:center;
}
.pm-boven {
    text-align:center;
    margin-left:3vw;
    margin-right:3vw;
}
.fotom-midden {
    display:flex;
    justify-content:center;
}
.fotom-midden > img{
    width: 80vw;
    margin-top:6vw;
    margin-bottom:3vw;
    border-radius:5vw;
}
.h1m-midden {
    font-size:8vw;
    text-align:center;
}
.pm-midden {
    text-align:center;
    margin-left:3vw;
    margin-right:3vw;
}
.fotom-onder {
    display:flex;
    justify-content:center;
}
.fotom-onder > img{
    width: 80vw;
    margin-top:6vw;
    margin-bottom:3vw;
    border-radius:5vw;
}
.h1m-onder {
    font-size:8vw;
    text-align:center;
}
.pm-onder {
    text-align:center;
    margin-left:3vw;
    margin-right:3vw;
}
#tablet-header {
    display:none;
}
#mobile-popout {
    display:none;
}
#footer-tablet-desktop {
    display: none;
}
#tablet-popout {
    display: none;
}
.boven_l, .boven_m, .boven_r, .midden_l, .midden_m, .midden_r, .onder_l, .onder_m, .onder_r {
    display: none;
}
.t-rechts-boven, .t-links-boven, .t-rechts-onder, .t-links-onder {
    display:none;
}
.t-h1, .t-p, .t-p-onder, .t-foto {
    display:none;
}
.d-h-links, .d-h-midden, .d-h-rechts {
    display:none;
}
.h1m-lunch {
    text-align:center;
    font-size:8vw;
}
.pm-lunch {
    margin-left:5vw;
    font-size:4vw;
}
.pm-prijs {
    margin-right:5vw;
    font-size:4vw;
}

.m-lunch-container {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-areas: "m-lunch-links"
    "m-lunch-rechts";
}
#inclu-menu-dicht {
    position: fixed;
    top: 30vh;
    border-radius: 13px;
    background-color: var(--main-color);
    height: 50px;
    width: 50px;
    display: flex;
}
#inclu-menu-dicht > img {
    height: 40px;
    width: 40px;
    margin: 5px;
}
#inclu-menu-open {
    background-color: var(--main-color);
    position: fixed;
    top: 30vh;
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    justify-content: space-around;
    display: none;
}
#inclu-menu-open > img, #inclu-menu-open > section > section > img{
    width: 70px;
    height: 100%;
    margin: 10px;
}
#inclu-menu-open > section > section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#inclu-menu-open > img {
    height: 70px;
}
#inclu-menu-open > section > section > button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    width: 100%;
}
#inclu-menu-dicht-knop, #inclu-menu-open-knop {
    background-color: var(--main-color);
}
#inclu-menu-open > section > section > p {
    padding-left: 5px;
}



/* tablet portrait */
@media (min-width: 450.1px) and (max-width: 991.9px){
.mobile-navbar {
    display: none;
}
.grote-tekst {
    display: none;
}
.boven, .midden, .onder {
    display: none;
}
.m-lunch-container, .h1m-lunch {
    display:none;
}
#tablet-header {
    display: flex;
}
.boven_l, .boven_m, .boven_r, .midden_l, .midden_m, .midden_r, .onder_l, .onder_m, .onder_r {
    display: block;
}
.t-h1, .t-p, .t-p-onder, .t-foto {
    display:block;
}
#tablet-nav{
    background-color:var(--main-color);
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding: 1vh;
    width: 100vw;
}
.logo {
    height: 12vh;
}
.nav-btn{
    font-family: "Taprom", system-ui;
    background-color:var(--header-color);
    margin:0px;
    padding:20px 30px;
    font-size:1.7vw;
    border-radius:15px;
    text-decoration:none;
    color:white;
    font-weight:500;
    cursor:pointer;
    font-size: 3vh;
    margin: 1vh;
}
#hamburger-foto-tablet {
    width: 14vw;
}
#tablet-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#tablet-popout {
    background-color: var(--main-color);
    width: 100vw;
    justify-content: space-around;
}
footer {
    display: none;
}
#footer-tablet-desktop {
    display: block;
}
}
.t-home-container-b {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "h-links-boven" "h-rechts-boven";
    margin:0;
}
.t-home-container-o {
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-areas: "h-links-onder" "h-rechts-onder";
    margin:0;
}
.t-rechts-boven {
    background-color:var(--secondary-color);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.t-links-boven {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.t-links-onder {
    display:flex;
    justify-content:center;
    align-items:center;
}
.t-rechts-onder {
    display:flex;
}
.t-foto {
    width: 45vw;
    height: auto;
    margin-top:3vw;
    align-items:center;
}
.t-h1 {
    font-size:5vw;
    text-align:center;
}
.t-p {
    text-align:center;
    margin-left: 2vw;
    margin-right:2vw;
}
.t-p-onder {
    margin-right:25vw;
}
.t-lunch-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "boven_l" "boven_m" "boven_r"
        "midden_l" "midden_m" "midden_r"
        "onder_l" "onder_m" "onder_r";
    margin:0;
}
.boven_l, .boven_m, .boven_r {
    background-color: var(--background-color);
    justify-content:center;
}
.midden_l, .midden_m, .midden_r {
    background-color: var(--secondary-color);
    justify-content:center;
}
.onder_l, .onder_m, .onder_r {
    background-color: var(--background-color);
    justify-content:center;
}
.boven_l > h1, .boven_m > h1, .boven_r > h1, .midden_l > h1, .midden_m > h1, .midden_r > h1, .onder_l > h1, .onder_m > h1, .onder_r > h1 {
    font-size:4vw;
    text-align:center;
    margin-top:0;
    margin-bottom:0;
}
.boven_l > p, .boven_m > p, .boven_r > p, .midden_l > p, .midden_m > p, .midden_r > p, .onder_l > p, .onder_m > p, .onder_r > p {
    margin-top:0;
    margin-bottom:0;
    margin-right:5vw;
    text-align:right;
    font-size:2vw;
}
/* landscape tablet + desktop */
@media (min-width: 992px){
.mobile-navbar {
    display: none;
}
.boven {
    display: none;
}
.midden {
    display:none;
}
.onder {
    display:none;
}
body {
    margin:0px;
    padding:0px;
}
.m-lunch-container, .h1m-lunch {
    display:none;
}
article > img {
    height:8vw;
}
.nav-btn{
    font-family: "Taprom", system-ui;
    background-color:var(--header-color);
    margin:0px;
    padding:20px 30px;
    font-size:1.7vw;
    border-radius:15px;
    text-decoration:none;
    color:white;
    font-weight:500;
    cursor:pointer;
}
.navbar{
    background-color:var(--main-color);
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding: 2vh;
}
.footer {
    background-color:var(--header-color);
    color:var(--background-color);
    display:flex;
    align-items:center;
    padding:10px 20px;
    justify-content:space-around;
    height: 6vw;
}
.d-lunch-container-b, .d-lunch-container-b > p {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "boven-1" "boven-2" "boven-3" "boven-4" "boven-5";
    margin-top:0;
    margin-bottom:0;
}
.d-lunch-container-mo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "midden-1" "midden-2" "midden-3" "midden-4" "midden-5" "midden-6"
        "onder-1" "onder-2" "onder-3" "onder-4" "onder-5" "onder-6";
    margin-top:0;
    margin-bottom:0;
}
.midden-1, .midden-2, .midden-3, .midden-4, .midden-5, .midden-6 {
    background-color:var(--secondary-color);
}
.boven-1, .boven-3, .boven-5, .midden-2, .midden-5, .onder-2, .onder-4, .onder-6{
    display:grid;
    justify-content:center;
    align-items:center;
}
.boven-1 > img, .boven-2, .boven-3 > img, .boven-4, .boven-5 > img, .midden-1, .midden-2 > img, .midden-3, .midden-4, .midden-5 > img, .midden-6, .onder-1, .onder-2 > img, .onder-3, .onder-4 > img, .onder-5, .onder-6 > img {
    display: block;
}
.boven-2 > p, .boven-4 > p, .onder-1 > p, .onder-3 > p, .onder-5 > p {
    margin-top:0;
    margin-bottom:0;
    margin-right:5vw;
    text-align:right;
    font-size:1.1vw;
}
.midden-3 > p, .midden-6 > p{
    margin-top:0;
    margin-bottom:0;
    margin-right:2vw;
    text-align:right;
    font-size:1.1vw;
}
.midden-1 > p, .midden-4 > p{
    margin-top:0;
    margin-bottom:0;
    margin-right:0.5vw;
    text-align:right;
    font-size:1.1vw;
}
.onder-1 > p, .onder-3 > p, .onder-5 > p {
    margin-top:0;
    margin-bottom:0;
    margin-right:1vw;
    text-align:right;
    font-size:1vw;
    margin-left:1vw;
}
.boven-4 > h1, .midden-1 > h1, .midden-6 > h1, .onder-1 > h1, .onder-3 > h1, .onder-5 > h1{
    margin-top:0;
    margin-bottom:0;
    margin-right:2vw;
    text-align:center;
    font-size:2vw;
}
.boven-2 > h1, .midden-3 > h1, .midden-4 > h1 {
    margin-top:0;
    margin-bottom:0;
    margin-right:5vw;
    text-align:center;
    font-size:2vw;
}
.img-lunch-1, .img-lunch-2{
    width: 20vw;
    height: auto;
    margin-left:1vw;
}
.img-lunch-3, .img-lunch-4, .img-lunch-5 {
    width:18vw;
    height:auto;
    margin-right:1vw;
}
.img-lunch-6{
    width: 20vw;
    height: auto;
    margin-right:1vw;
    margin-left:0;
}
.img-lunch-7, .img-lunch-8 {
    width: 17vw;
    height: auto;
}
.d-home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "links" "midden" "rechts";
    margin:0;
}
.d-h-links {
    background-color: var(--background-color);
    display:flex;
    flex-direction:column;
    align-items:center;
}
.d-h-midden {
    background-color: var(--secondary-color);
    display:flex;
    flex-direction:column;
    align-items:center;
}
.d-h-rechts {
    background-color: var(--background-color);
    display:flex;
    flex-direction:column;
    align-items:center;
}
.d-foto {
    width: 30vw;
    height: auto;
    margin-top:3vw;
}
.d-p {
    margin-left: 2vw;
    margin-right:2vw;
}
}