@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&family=Taprom&display=swap');
h1{
    font-family: "Taprom", system-ui;
}
p{
    font-family: "Tai Heritage Pro", serif;
}
/* mobile */
@media (max-width: 450px){
body {
    background-color:#FAF5E2;
    margin:0;
    padding:0;
}
.navbar, .footer {
    display: none;
}
.logom>img {
    width:auto;
    height:13vh;
    margin-left:2vw;
    margin-top:1vh;

}
.mobile-navbar {
    background-color: #799785;
    height:15vh;
    display:flex;
}
.hamburger>img {
    height:8vh;
    width:flex;
    margin-left:2vw;
    margin-top:3.5vh;
}
.h1m {
    font-size:4vh;
    margin-left:8vw;
    margin-right:8vw;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "boven" "midden" "onder";
    margin:0;
}
}
/* tablet portrait */
@media (min-width: 450.1px) and (max-width: 991.9px){
body {
    background-color:#FAF5E2;
}
.grote-tekst {
    display: none;
}
}
/* landscape tablet + desktop */
@media (min-width: 992px){
body {
    margin:0;
    padding:0px;
}
.navbar{
    background-color:#799785;
    display:flex;
    align-items:center;
    padding:10px 20px;
    justify-content:space-around;
    height: 8vh;
}

article > img {
    height:8vw;
}
.nav-btn{
    font-family: "Taprom", system-ui;
    background-color:#516659;
    margin:0px;
    padding:20px 30px;
    font-size:1.8vw;
    border-radius:15px;
    text-decoration:none;
    color:white;
    font-weight:500;
    cursor:pointer;
}
.footer {
    background-color:#000000;
    color:#FFFFFF;
    display:flex;
    align-items:center;
    padding:10px 20px;
    justify-content:space-around;
    height: 6vw;
}

}
/* .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "wit rood wit";
    margin:0;
}
.links {
    background-color: #FAF5E2;
    justify-content:center;
}
.midden {
    background-color: #C55A40;
    justify-content:center;
}
.rechts {
    background-color: #FAF5E2;
    justify-content:center;
}
.rookworstfoto {
    height: 40vh;
    margin-top:3vw;
    margin-left:2.75vw;
}
.links-h1 {
    margin-left: 8.75vw;
}
.links-p {
    margin-left:2vw;
    margin-right:2vw;
}
.stamppotfoto {
    margin-top: 3vw;
    width: 30vw;
    height:auto;
    margin-left:1.5vw;
}
.footertext {
    font-family: "Taprom";
    font-size:1.3vw;
} */